.pictures-container	
	- @events.each do |event|
		.pictures-container-el
			= link_to event_path(event.id) do				
				= image_tag 'cambriolage.jpg'
				.pictures-container-el-name
					event n°
					= event.name
				.pictures-container-el-date
					= event.created_at.strftime("%I:%M%p")
					= event.updated_at.strftime("- %I:%M%p")
				.pictures-container-el-day
					= event.created_at.strftime("%d/%m/%y")					