<!DOCTYPE html>
<html>
  <head>
    <title>BigBrotherServer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav>
	    <div class="nav-wrapper">
	      <a href="#!" class="brand-logo center"><%= image_tag 'logo.jpg', class: 'logo-navbar' %></a>
	      <ul class="left hide-on-med-and-down">
	        <li>
	        	<%= link_to 'Home', events_path %>
	        </li>
	        <li>
	        	<%= link_to 'Maubeuge Live mother fucker', stream_index_path %>
	        </li>	        
	      </ul>
	    </div>
  	</nav>
  	<div class='big-container'>  		  	
    	<%= yield %>
    </div>
  </body>
</html>
